[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://github.com/homecoin/libsodium.git
[submodule "lib/xdrpp"]
	path = lib/xdrpp
	url = https://github.com/xdrpp/xdrpp.git
[submodule "lib/libmedida"]
	path = lib/libmedida
	url = https://github.com/homecoin/medida.git
